 {% import "bootstrap/wtf.html" as wtf %}
  {% extends "base.html" %}
  {% block title %}
  {% endblock %}

  {% block body %}
<div class="content-section">
    <div class="inner">
        <div class="center">
            <h1 style="text-align:center;"> {{ event.name }} </h1>
            <p>
                The event is at: {{ event.description }} <br /> The event starts at: {{ event.startTime }} <br /> The event
                ends at: {{ event.endTime }} <br /> {% if creator %}
                <a class="btn btn-large btn-info" href="{{ url_for('home.edit_event', id=event.id) }}">
                                    <i class="icon-info-sign"></i> Edit My Event</a> </a> {% else %} {% endif
                %}
            </p>
            {% if tfval %}
            <h2> Google Map </h2>

          {# Google Map New Version#}
          {% set location=(event.latitude,event.longitude) %}
          {% set style="width:700px;height:500px;"%}
          {{
            googlemap("simple-map",
              location.0, location.1,
              markers=[location,],
              style=style
              )
            }}


            {%else %}
             {% endif %}
        </div>
    </div>
</div>
{% endblock %}
