<!doctype html>
<html>
<head>
<title>Enrollement Console</title>

<link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
<header>
  <div class="container">
	<h1>Enroll a course</h1>
  </div>
</header>

<main>
  Test
</main>

<footer>
  <div class="container">
		<a href= "" >Show all student records</a>
  </div>
</footer>

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

</body>
</html>
