 {% import "bootstrap/utils.html" as utils %} {% extends "base.html" %} {% block title %}events{% endblock %} {% block body
%}
<div class="content-section">
    <div class="inner">
        <br/> {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Events</h1>
        {% if events %}
        <hr class="intro-divider">
        <div class="center">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="25%"> Name </th>
                        <th width="25%"> Location </th>
                        <th width="25%"> Start Time </th>
                        <th width="25%"> End Time </th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for event in events.items %}
                    <tr>
                        <td style="text-align:center;"> {{ event.name }} </td>
                        <td style="text-align:center;"> {{ event.description }} </td>
                        <td style="text-align:center;"> {{ event.startTime }} </td>
                        <td style="text-align:center;"> {{ event.endTime }} </td>
                        <td> <a class="btn btn-large btn-info" href="{{ url_for('home.view_event', id=event.id) }}"> 
                                    <i class="icon-info-sign"></i> View</a> </a>
                        </td>
                        <td> <a class="btn btn-large btn-info" href="{{ url_for('home.attend_event', id=event.id) }}"> 
                                    <i class="icon-info-sign"></i> Attend</a> </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="buttonholder">
                {% if events.has_prev %} <a href="{{ url_for('home.allevents', page=events.prev_num) }}">&lt;&lt; Prev Page</a>{%
                else %}&lt;&lt; Prev Page{% endif %} | {% if events.has_next %}<a href="{{ url_for('home.allevents', page=events.next_num) }}">Next Page &gt;&gt;</a>{%
                else %}Next Page &gt;&gt;{% endif %}
                <br />
                <br />
                <br />
            </div>
        </div>
        <div style="text-align: center">
            {% else %}
            <div style="text-align: center">
                <h3> No events have been added. </h3>
                <hr class="intro-divider"> {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}